.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 15px 20px;
}
.footer-content {
  display: flex;
  margin: 0 2em;
  align-items: center;
  width: 100%;
}
.footer-left {
  width: 50%;
}
.footer-logo-wrapper {
  height: 20px;
}
.footer-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.footer-right a {
  margin-left: 32px;
}
