.hero {
  display: flex;
  margin: 3em auto;
  width: 80vw;
  align-items: center;
}
.intro-img-wrapper {
  flex: 1;
  margin: 0 10% 0 0;
}
.intro-img {
  width: 100%;
}
.hero-img-wrapper {
  flex: 2;
}
.hero-img {
  width: 100%;
}

@media (max-width: 690px) {
  body {
    margin: 0 auto;
    text-align: center;
  }
  .hero {
    text-align: left;
    flex-direction: column;
  }
  .intro-img-wrapper {
    margin: 0 auto;
  }
  .hero-img-wrapper {
    margin: 5% 0;
    width: 100%;
  }
}
