.navbar {
  width: 100vw;
  background-color: black;
  color: white;
}

.navbar-items {
  margin: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper {
  height: 65px;
  margin: 1em 0;
}
.logo-wrapper:hover {
  animation: rotation 4s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.logo-image {
  height: 100%;
}
.nav-link-wrapper {
  display: flex;
  height: 100%;
}

.nav-link-container {
  display: flex;
}

.nav-link-container li {
  padding: 20px;
}

@media (max-width: 690px) {
  .nav-link-container {
    flex-direction: column;
  }
}
